*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Montserrat;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
 
/* LEFT MENU */



.logo{
  width: 70%;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo img{
  width: 100%;
}

.menu-options{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.menu-options:nth-child(5){
  color: white;
}

.menu-options:nth-child(12){
  margin-top: 160px;
  border-bottom: solid 1px grey;
  padding-bottom: 5px;
}

/* HEADER  */

header{
  width: calc(100vw - 200px);
  height: 80px;
  background-color: rgba(0, 0, 0, .5);
  margin-left: 200px;
  position: fixed;
}

.button{
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  color: white;
  padding: 10px 25px;
  border: white solid 2px;
  border-radius: 30px;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

.containerr{
  width: 100%;
  height: calc(100vh - 80px);
}

aside, main{
  float: left;
}

aside{
  width: 200px;
  height: 100%;
  background-color: black;
  color: grey;
  font-weight: bold;
  font-size: 12px;
  overflow: hidden;
}

main{
  width: calc(100% - 200px);
  height: 100%;
  overflow: auto;
  background-color: #141922;
  color: white;
}

/* MAIN */


.nav-bar{
  width: 523px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-weight: bold;
}

ul{
  list-style: none;
}

ul li{
  color: #7F8185;
  float: left;
  margin: 5px;
}

.container{
  display: inline-block;
  width: 90%;
  margin: 20px 0 0 20px;
}

.container h1{
  font-size: 18px;
  margin-bottom: 10px;
}

.container h2{
  font-size: 14px;
  margin-bottom: 10px;
}

.container h5{
  font-size: 11px;
  color: grey;
}

.contenitore{
  width: 15%;
  margin-right: 1%;
  text-align: center;
}

.box-container{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 100%;
  margin-bottom: 10px;
}

.box img{
  width: 100%;
}

.box.circle{
  width: 100%;
  height: 22vh;
  border-radius: 50%;
  background-size: contain;
  background-image: url("../img/einaudi.jpeg");
}



/* FOOTER  */

footer{
  width: 100%;
  height: 80px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

.left{
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.photo-track{
  display: inline-block;
  width: 40px;
  /* float: left; */
  /* margin: 20px 0 0 10px; */
}

.photo-track img{
  width: 100%;
  background-size: contain;
}

.canzone{
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  /* margin-left: 5px; */
  /* float: left; */
  bottom: 10px;
}

.song{
  /* float: left; */
  margin-top: 25px;
  /* margin-left: 8px; */
}

.artista{
  color: white;
}

.titolo{
  color: grey;
}

.heart{
  display: inline-block;
  /* float: left; */
  /* margin-top: 25px; */
  /* margin-left: 45px; */
  font-size: 20px;
  color: grey;
}

.directory{
  display: inline-block;
  /* float: left; */
  /* margin-top: 25px; */
  /* margin-left: 10px; */
  font-size: 20px;
  color: grey;
}


.centre{
  width: 40%;
  height: 100%;
}

.centre-container{
  width: 40%;
  height: 50%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.play{
  font-size: 30px;
}

.centre-container.down{
  width: 100%;
  justify-content: space-between;
}

.min-corrente, .min-totali{
  font-size: 10px;
  font-weight: bold;
}

.barra{
  width: 80%;
  height: 4px;
  border-radius: 12px;
  background-color: grey;
}

.barra div{
  width: 20%;
  height: 4px;
  border-radius: 12px;
  background-color: white;
}

.barra.volume{
  width: 60%;
}

.right{
  width: 200px;
  height: 100%;
  color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 12px;
}